body {
    background-color: #ffadbb;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  form {
    font-family: verdana;
    text-align: center;
    margin-top: 200px;
    margin-bottom: 400px;
    margin-right: 500px;
    margin-left: 600px;
    width: 600px;
    padding: 60px;
    border: 4px solid black;
    margin: 200;
    font-weight: bold;
    font-variant: small-caps;
  }
  
  .button {
    background-color: white;
    color: black;
    border: 2px solid black; /* Black */
    border-radius: 4px;
  }

  .preencha {
    text-align: center;
  }